.gallery
{
    margin-bottom: 8rem;
    .image-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 4rem 2rem;
        margin-bottom: 6rem;

        a {
            text-decoration: none;
            width: 100%;
            height: 35rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                color: rgba(255, 255, 255, 0.6);
                font-size: 3rem;
                position: relative;
                z-index: 100;
                padding: 1rem 3rem;
                border: 2px solid rgba(255, 255, 255, 0.6);
                border-radius: 0.4rem;
                opacity: 0;
                transition: opacity 0.5s;
            }

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.6);
                opacity: 0;
                transition: opacity 0.5s;
            }

            &:hover {
                i {
                    opacity: 1;
                }

                &::before {
                    opacity: 1;
                }
            }
        }

        .img-1 {
            background-image: url('../img/gal-1.jpg');
            background-position: top;
        }
        .img-2 {
            background-image: url('../img/gal-2.jpg');
            background-position: top;
        }

        .img-3 {
            background-image: url('../img/gal-3.jpg');
            background-position: top;
        }
        .img-4 {
            background-image: url('../img/gal-4.jpg');
        }
        .img-5 {
            background-image: url('../img/gal-5.jpg');
            background-position: top;
        }
        .img-6 {
            background-image: url('../img/gal-6.jpg');
            background-position: top;
        }
        .img-7 {
            background-image: url('../img/girls-10.jpg');
            background-position: top;
        }
        .img-8 {
            background-image: url('../img/baby.jpg');
            
        }

        
    }
    .btn-transparent
        {
            background-color: #fff;
            font-size: 2rem;
            padding: 1rem 3rem;
            

           
        }

        
}