// colors
$color-primary: #d65133;
$color-primary-light: #c47665;
$color-primary-dark: #BC3F22;
$color-dark: #090708;
$color-gray:#474640;
$color-light-gray: #EFEDEE;
$color-medium-gray: #bcbcbc;
$color-gradient: linear-gradient(to bottom right, #c47665, #BC3F22);
$color-gradient-reverse: linear-gradient(to bottom right, #BC3F22, #c47665);

// utilities
$copy-font: 'Raleway', sans-serif;
$title-font: 'Dosis', sans-serif;
